.col-md-8 p {
    margin-bottom: 20px;
}
strong{font-weight:bold; margin-left:10px;}
ul li {margin-bottom: 5px}
ul{margin:10px;}
.control li {margin-bottom:5px;}
.control{ list-style-type: disc;}

.img-fluid{margin-top:30px;}
.rounded-circle{padding:10px:10px:10px:10px;}
.border{border:1px solid #007BF;}